Config issue openid scope 403 Error

**Describe your question/**

Try to configure a sso connection between a test nextcloud 23.0.4 instance with app social login 4.14.0 to authentik 2022.4.1 but nextcloud shows 403 error.

What is wrong with my configuration or did I miss something ?
What is scope in the context of openid ?

**Relevant infos**

First time config and found no example...

**Screenshots**

**Logs**
Output of docker-compose logs or kubectl logs respectively

**domain replaced by example.com**

```
server_1       | {"event": "/api/v3/flows/executor/default-provider-authorization-implicit-consent/?query=response_type%3Dcode%26client_id%3D56bc96fdd90e7c18746931b43d9ae2d3c1263a31%26redirect_uri%3Dhttps%253A%252F%252Ftcloud.example.com%252Findex.php%252Fapps%252Fsociallogin%252Fcustom_oidc%252Ftcloud%26scope%3Dtcloud%26state%3DHA-WO36T0R97INCFA2X8BUPSJYKQDHM5EZ4V1GL", "host": "auth.example.com", "level": "info", "logger": "authentik.asgi", "method": "GET", "pid": 20, "remote": "10.64.0.3", "request_id": "44bc77c2928142f0a3966eb3a3453308", "runtime": 122, "scheme": "https", "status": 200, "timestamp": "2022-04-25T13:18:31.789769", "user": "akadmin", "user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.74 Safari/537.36 Edg/99.0.1150.46"}
server_1       | {"event": "/application/o/token/", "host": "auth.example.com", "level": "info", "logger": "authentik.asgi", "method": "POST", "pid": 21, "remote": "192.168.111.18", "request_id": "b296e2b3fe0146c692fccb1516604ad9", "runtime": 58, "scheme": "https", "status": 200, "timestamp": "2022-04-25T13:18:31.960887", "user": "", "user_agent": "Hybridauth, PHP Social Authentication Library (https://github.com/hybridauth/hybridauth)"}
server_1       | {"event": "Scope mismatch.", "host": "auth.example.com", "level": "warning", "logger": "authentik.providers.oauth2.utils", "pid": 21, "request_id": "817cd933190c42eda4faf3cc5313caa9", "required": "{'openid'}", "timestamp": "2022-04-25T13:18:32.018648", "token_has": "{'tcloud'}"}
server_1       | {"event": "/application/o/userinfo/", "host": "auth.example.com", "level": "info", "logger": "authentik.asgi", "method": "GET", "pid": 21, "remote": "192.168.111.18", "request_id": "817cd933190c42eda4faf3cc5313caa9", "runtime": 17, "scheme": "https", "status": 403, "timestamp": "2022-04-25T13:18:32.021869", "user": "", "user_agent": "Hybridauth, PHP Social Authentication Library (https://github.com/hybridauth/hybridauth)"}
server_1       | {"event": "Forbidden: /application/o/userinfo/", "level": "warning", "logger": "django.request", "timestamp": 1650892712.026869}

```

**Version and Deployment (please complete the following information):**
authentik 2022.4.1 docker-compose setup
container behind an apache reverse proxy

**Additional context**

![20220425_153628-](https://user-images.githubusercontent.com/100464434/165104052-35e17f67-628c-48d9-9b1a-4a2c678bae89.jpg)

![20220425_154351-TEST_Cloud](https://user-images.githubusercontent.com/100464434/165102389-4bf2bb79-3ddf-4763-9155-ab26511a2535.jpg)



Your authentik logs and your Social Login config do not match up. The logs says Social Login is sending `tcloud` as the scope but your config screenshot says `user:email`. Are you sure the log and your screenshot are from the same time or were changes made?

authentik requires the `openid` scope to gain access to the protected resource view `userinfo`, and that scope is also required by the (OIDC spec)[https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims]. authentik is complaining about that in the log: `"required": "{'openid'}"` and `"token_has": "{'tcloud'}"`. Additionally, unless you created a `user:email` (or `tcloud`, as it appears) scope, that scope does not exist in authentik by default, nor is it a part of the spec. What scopes do you have configured in authentik?

If you are using default scopes in authentik, a functional set would be `openid profile email`. authentik's default `profile` scope mapping returns a subset of the (standard claims)[https://openid.net/specs/openid-connect-core-1_0.html#Claims], so your display name claim `tcloud` should be `name`.

I wanted to say that this explanation helped me solve the same issue with authentik and nextcloud social-login plugin.  The key here is the scope list should be a **space** separated list of 

`openid profile email`

The nextcloud documentation is sparse and I tried a comma separated list, json object, and nothing worked until I came across this answer. 

Thank You!

You're welcome. When dealing with compliant SSO applications, checking the spec is usually your best bet. Nextcloud's Social Login app is not particularly complicated from the lens of a valid OIDC client, so understanding OIDC itself (and [the OAuth 2.0 spec](https://www.rfc-editor.org/rfc/rfc6749.html) that it's based on) is valuable. In particular, if you reference [RFC 6749, §3.3](https://www.rfc-editor.org/rfc/rfc6749.html#section-3.3), you will find that `scope` is defined as space-delimited, and as a valid implementation of OAuth 2.0, this is inherited by OIDC. Note also in the above section that scopes in OAuth 2.0 are optional and implementation defined, and OIDC uses that to implement its own required and optional scopes that release certain claims—this is why authentik has the editable scopes with claims attached to those scopes, because it is all defined by the server, and you can configure it however you please. Claims in OIDC are just a fancy way to call attributes, the same is true in things like SAML.

If you are still interested in learning more about OIDC from a higher level, [this is a good read.](https://developer.okta.com/blog/2017/07/25/oidc-primer-part-1)