SCIM:

**Describe the bug**
Authentik's SCIM client does not properly quote values when using filters

**To Reproduce**
Steps to reproduce the behavior:

1. Configure a SCIM provider with filter support.
2. Inspect the logs of the SCIM sync
3. See that the requests towards the filter endpoint have the username value unquoted

**Expected behavior**
A well behaved SCIM client should comply with the grammar defined in [RFC 7644 Section 3.4.2.2][RFC-7644-3.4.2.2]

**Logs**
After enabling `AUTHENTIK_LOG_LEVEL=trace` the scim client shows:

```
{"domain_url": null, "event": "Failed to send SCIM request", "level": "warning", "logger": "authentik.lib.sync.outgoing.base", "method": "GET", "path": "/Users?filter=userName+eq+josegomezr", "pid": 12909, "provider": "SCIM Provider-Salesforce-Development", "response": "{\"schemas\":\"[\\\"urn:ietf:params:scim:api:messages:2.0:Error\\\"]\",\"detail\":\"Argument has to be a quoted string literal : josegomezr\",\"status\":400}", "schema_name": "public", "timestamp": "2025-08-28T08:32:38.729167"}
```

**Version and Deployment (please complete the following information):**
-   authentik version: 2025.8.1
-   Deployment: helm

**Additional context**

[RFC 7644 Section 3.4.2.2][RFC-7644-3.4.2.2] defines the grammar for a filter
comparison value expression as:

```
compValue = false / null / true / number / string
                 ; rules from JSON (RFC 7159)
```

The code in the [SCIM Client for users just passes the value directly][authentik-scim-user-client] as:

```py
# scim_user = SCIMUserSchema object
# self = SCIMUserClient
users = self._request(
    "GET", f"/Users?{urlencode({'filter': f'userName eq {scim_user.userName}'})}"
)
#                                                       ^^^^^^^^^^^^^^^^^^^^
```

Which renders a final request like:

```
%SCIM-BASE-URL-AS-CONFIGURED%/Users?filter=userName+eq+<current-user-name>'
```

Which is incorrect as per the RFC grammar, values should be JSON-encoded.

The final request should be:

```
%SCIM-BASE-URL-AS-CONFIGURED%/Users?filter=userName+eq+"<current-user-name>"'
```

[RFC-7644-3.4.2.2]: https://datatracker.ietf.org/doc/html/rfc7644#section-3.4.2.2
[authentik-scim-user-client]: https://github.com/goauthentik/authentik/blob/version/2025.8.1/authentik/providers/scim/clients/users.py#L74-L76

---

I can volunteer to contribute the fix (as we've patched it on our side).
